CoAP Client/CoAP\ Client.sln
CoAP Client/Release/
CoAP Client/.vs/
CoAP Client/CoAP\ Client/Release/

MQTT Broker/MQTT\ Broker.sln
MQTT Broker/Release/
MQTT Broker/x64/
MQTT Broker/Debug/
MQTT Broker/.vs/
MQTT Broker/MQTT\ Broker/Release/
MQTT Broker/MQTT\ Broker/Debug/
MQTT Broker/CppProperties.json


*.vcxproj
*.filters
*.user
*.sln